<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h2>This is header!</h2></header>

    <main>
        <nav style="display: flex; gap: 10px;">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/shop">Shop</a>
        <a href="/contact">Contact</a>
    </nav>
    {% block content%}
    {% endblock %}
    </main>

    <footer><h2>Footer heree!</h2></footer>
</body>
</html>