<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <h1 style="background-color: greenyellow; padding: 6px;">Login Form</h1>
    <form action="/signup" method="POST">

        <label for="email">Email</label>
        <input type="text" name="email">

        <label for="password">Password</label>
        <input type="password" name="password">

        <label for="submit">Submit</label>
        <input type="submit" name="submit">

    </form>
</body>
</html>