<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <h1>Welcome to shop</h1>
    <a href="/">Home</a>
    {% for item in inventory %} 
    <form method="POST" action="/buy" class="py-8 px-6 bg-blue-400 text-white rounded m-4">
        <p>{{item['name'].title()}}: Rs.{{item['price']}}</p>
        <p>Available Stock: {{item['available']}}</p>

        <input type="hidden" name="item_name" value="{{item['name']}}" min="1" max="{{item['available']}}" required>
        <input class="bg-gray-300 px-2 py-1" type="number" name="quantity" >
        <button type="submit" class="px-3 py-1 bg-green-400 rounded-full">Buy Now</button>
        
    </form>
    {% endfor %}
    <a href="/users">Users</a>
</body>
</html>