<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamu Shop Signup</title>
</head>
<body>
    <form action="/signup" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <br>
        <br>

        <label for="age">Age</label>
        <input type="text" name="age" id="age">
        <br>
        <br>

        <label for="gender">Gender</label>
        <input type="text" name="gender" id="gender">
        <br>
        <br>

        <label for="gender">Password</label>
        <input type="password" name="password" id="password">
        <br>
        <br>
           
        <input type="submit" value="Submit">
    
    </form>
</body>
</html>